# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/My First Project (Java)/*
!/My First Project (Java)/task/
/My First Project (Java)/task/*
!/My First Project (Java)/task/src
